.text-darkRed {
  color: $text-dark-red;
}

.text-lightRed {
  color: $text-light-red;
}

@include pc {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  @for $i from 1 to $gridNum + 1 {
    .col-xl-#{$i} {
      max-width: 100% * ($i / $gridNum);
      flex: 0 0 (100% * ($i / $gridNum));
    }
  }
}

@include pad {
  .container {
    width: 672px;
    margin: 0 auto;
  }
  @for $i from 1 to $gridNum + 1 {
    .col-md-#{$i} {
      max-width: 100% * ($i / $gridNum);
      flex: 0 0 (100% * ($i / $gridNum));
    }
  }
}
@include mobile {
  .container {
    width: 352px;
    margin: 0 auto;
  }
  @for $i from 1 to $gridNum + 1 {
    .col-sm-#{$i} {
      max-width: 100% * ($i / $gridNum);
      flex: 0 0 (100% * ($i / $gridNum));
    }
  }
}

.test {
  border: 1px solid green;
}

.text-center {
  text-align: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}

.header {
  background-color: $bg-red;
  justify-content: space-between;

  .logo {
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 80px;
    height: 49px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }

  @include pc {
    padding-left: 88px;
    padding-right: 88px;

    .menuBtn {
      display: none;
    }
  }

  @include pad {
    padding-left: 48px;
    padding-right: 48px;

    .menuBtn {
      display: none;
    }
  }
  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    justify-content: center;
    position: relative;

    .logo {
      width: 48px;
      height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .menu {
      display: none;
    }

    .menuBtn {
      // width: 24px;
      // height: 24px;
      position: absolute;
      top: 15px;
      left: 16px;
      // cursor: pointer;
      z-index: 1;

      input {
        width: 24px;
        height: 24px;
        opacity: 0;
        position: absolute;
        cursor: pointer;
        z-index: 2;
        // display: block;
      }

      .menuBar {
        display: block;
        width: 24px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: white;
        border-radius: 3px;
        z-index: 1;

        // transform-origin: 4px 0px;

        // transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        //   opacity 0.55s ease;
      }
    }
  }
}

.menu {
  padding-top: 40px;
  padding-bottom: 40px;

  .menu-item {
    a {
      font-size: 20px;
      line-height: 30px;
      padding-left: 64px;
      font-weight: normal;
      text-decoration: none;
      color: white;
    }
  }
}

.home-banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  text-align: right;

  .banner-title {
    color: $text-dark-red;

    @include pc {
      padding: 350px 0px;
    }

    @include pad {
      padding: 373px 0px;
    }

    @include mobile {
      padding: 163px 0px;
    }
  }
}
.proInfo {
  background-color: #aa06010d;

  .title {
    color: $text-dark-red;
  }

  .proInfo-list {
    .proInfo-list-item {
      padding: 16px 37px 24px 37px;

      .item-title {
        color: $text-dark-red;
      }
    }
  }

  @include pc {
    padding-top: 64px;
    padding-bottom: 80px;

    .title {
      margin-bottom: 44px;
    }

    .item-img {
      height: 100px;
      width: 100px;
      margin: 16px 91px 40px 91px;
    }

    .item-title {
      margin-bottom: 4px;
    }
  }

  @include pad {
    padding-top: 40px;
    padding-bottom: 36px;

    // .title {
    //   margin-bottom: 12px;
    // }

    .proInfo-list-item {
      // margin: 12px;
      .item-img {
        height: 100px;
        width: 100px;
        margin: 20px 122px 16px 122px;
      }

      .item-title {
        margin-bottom: 8px;
      }
    }
  }

  @include mobile {
    padding-top: 32px;
    padding-bottom: 48px;

    .title {
      margin-bottom: 32px;
    }

    .item-img {
      height: 100px;
      width: 100px;
      margin: 20px 136px 16px 136px;
    }

    .item-title {
      margin-bottom: 8px;
    }
  }
}

.classical {
  .list-item:nth-child(2) .list-img:hover {
    content: url("../images/product-2-color.png");
  }

  .list-title-container {
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;

    .list-title {
      padding-left: 8px;
    }
  }

  @include pc {
    padding-top: 64px;
    padding-bottom: 48px;

    .title {
      margin-bottom: 60px;
    }

    .list-item {
      margin-bottom: 32px;

      .list-title-container {
        padding-left: 24px;

        .list-title {
          padding-left: 8px;
        }
      }
    }

    .list-item:nth-child(2) {
      flex-direction: row-reverse;
    }
  }
  @include pad {
    padding-top: 40px;
    padding-bottom: 32px;

    .container {
      width: 100%;
      padding-left: 48px;
    }

    .title {
      margin-bottom: 32px;
    }

    .list-item {
      margin-bottom: 8px;

      .list-title-container {
        justify-content: center;

        .list-title {
          padding-left: 8px;
          font-size: 28px;
          line-height: 42px;
        }
      }
    }
  }

  @include mobile {
    padding-top: 24px;
    padding-bottom: 16px;

    .title {
      margin-bottom: 16px;
    }

    .list-item {
      margin-bottom: 8px;
      position: relative;
      // border: 1px solid red;

      .list-title-container {
        position: absolute;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .list-title {
          color: white;
          padding-left: 8px;
          font-size: 28px;
          line-height: 42px;
        }
      }
    }

    .list-item:nth-child(1) .list-title-img {
      content: url("../images/icon-diamond-white.svg");
    }

    .list-item:nth-child(2) .list-title-img {
      content: url("../images/icon-sun-white.svg");
    }

    .list-item:nth-child(3) .list-title-img {
      content: url("../images/icon-thunder-white.svg");
    }
  }
}

.design {
  padding-top: 64px;
  padding-bottom: 460px;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // height: auto;

  .title {
    margin-bottom: 60px;
    color: white;
  }
}

.designGroup {
  max-width: 100%;
  width: 1540px;
  margin: 0 auto;
  margin-bottom: 60px;

  .designGroup-l {
    width: 37.1%;
    margin-right: 8px;
  }

  .designGroup-b {
    margin-top: 8px;
  }

  .designGroup-bl {
    width: 13.7%;
    margin-right: 8px;
  }

  img {
    max-width: 100%;
  }

  .designGroup-brb {
    margin-top: 8px;
    height: 43.5%;
    position: relative;

    // padding-top: 31px;

    // padding-bottom: 31px;
    // height: auto

    .moreInfo {
      position: absolute;

      width: 34.6%;
      height: 100%;
      transform: translateX(165%);
      background-color: rgb(249, 202, 0);
    }
    .moreInfo-title {
      position: absolute;
      width: 114%;
      top: 50%;
      left: 50%;
      transform: translate(-35%, -50%);
      font-size: 72px;
      line-height: 108px;
      background-color: #fff;
      padding-right: 60px;
      text-decoration: none;
    }
  }

  // .moreInfo::before {
  //   position: absolute;
  //   // display: block;
  //   content: "";
  //   top: -31px;
  //   left: -5px;
  //   width: 259px;
  //   height: 167px;
  //   background-color: rgb(249, 202, 0);
  //   z-index: -10;
  // }
}

.brand {
  max-width: 100%;
}
.brandProduct {
  max-width: 48.75%;

  position: relative;
  height: auto;
  margin-bottom: 20px;

  .brandProduct-img {
    max-width: 100%;
    height: auto;
    // max-width: 48.75%;

    // width: 585px;
    // height: 100%;
    // opacity: 0.5;
  }
}
.brandProduct::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.5;
}

.brandProduct:nth-child(1)::before {
  position: absolute;
  // display: block;
  content: "Double A+";
  color: $text-light-red;
  line-height: 108px;
  font-size: 72px;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.brandProduct:nth-child(2)::before {
  position: absolute;
  // display: block;
  content: "YOUTH";
  color: $text-light-red;
  line-height: 108px;
  font-size: 72px;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
